In [1]:
import pandas as pd

In [2]:
eng = pd.read_csv('players_20.csv')  #displays all players dataset
eng

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,3/10/1997,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,5/16/2000,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1/11/1993,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [4]:
eng[eng.nationality == "England"] #filters english players

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
12,202126,https://sofifa.com/player/202126/harry-kane/20...,H. Kane,Harry Kane,25,7/28/1993,188,89,England,Tottenham Hotspur,...,65+3,66+3,66+3,66+3,65+3,62+3,60+3,60+3,60+3,62+3
26,202652,https://sofifa.com/player/202652/raheem-sterli...,R. Sterling,Raheem Sterling,24,12/8/1994,170,69,England,Manchester City,...,68+3,62+3,62+3,62+3,68+3,64+3,51+3,51+3,51+3,64+3
108,233049,https://sofifa.com/player/233049/jadon-sancho/...,J. Sancho,Jadon Sancho,19,3/25/2000,180,76,England,Borussia Dortmund,...,64+2,58+2,58+2,58+2,64+2,59+2,47+2,47+2,47+2,59+2
113,211117,https://sofifa.com/player/211117/dele-alli/20/...,D. Alli,Bamidele Alli,23,4/11/1996,188,80,England,Tottenham Hotspur,...,76+3,78+3,78+3,78+3,76+3,75+3,74+3,74+3,74+3,75+3
148,188377,https://sofifa.com/player/188377/kyle-walker/2...,K. Walker,Kyle Walker,29,5/28/1990,183,70,England,Manchester City,...,82+3,79+3,79+3,79+3,82+3,82+3,80+3,80+3,80+3,82+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18253,250739,https://sofifa.com/player/250739/nathan-morley...,N. Morley,Nathan Morley,18,9/12/2000,178,60,England,Burton Albion,...,42+2,41+2,41+2,41+2,42+2,44+2,46+2,46+2,46+2,44+2
18255,252548,https://sofifa.com/player/252548/connor-heath/...,C. Heath,Connor Heath,18,12/11/2000,188,78,England,Crewe Alexandra,...,46+2,45+2,45+2,45+2,46+2,46+2,46+2,46+2,46+2,46+2
18256,241493,https://sofifa.com/player/241493/samuel-cartwr...,S. Cartwright,Samuel Cartwright,18,7/8/2000,185,75,England,Peterborough United,...,43+2,42+2,42+2,42+2,43+2,44+2,47+2,47+2,47+2,44+2
18265,241828,https://sofifa.com/player/241828/luke-offord/2...,L. Offord,Luke Offord,19,11/19/1999,170,66,England,Crewe Alexandra,...,47+2,46+2,46+2,46+2,47+2,47+2,46+2,46+2,46+2,47+2
18270,252568,https://sofifa.com/player/252568/mohammed-saga...,M. Sagaf,Mohammed Sagaf,21,11/12/1997,177,70,England,Carlisle United,...,45+2,45+2,45+2,45+2,45+2,45+2,43+2,43+2,43+2,45+2

In [ ]:
#In this project i have used pandas library and players20 dataset from kaggle
#The aim of this project is to find the best players from the dataset that belong to England nationality
#Each cell below gives a result of players that are best in thier position
#I have used dataframe filtering for this demo 
#I have used 3 attributes for filtering that is nationality,overallrating and position

In [ ]:
#i have divided the dataframe into different positions according to the dataset and for each position of the dataset i have found the best player
# in the end all the best players from different position displays best squad of english players
# team positions selected -
#ST
#RW
#LW
#CAM
#RCM
#CDM
#LCB
#RCB
#LB
#RB
#GK

In [6]:
eng[(eng.nationality == "England") & (eng.overall>86) & (eng.team_position == 'ST')]  #best english striker

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
12,202126,https://sofifa.com/player/202126/harry-kane/20...,H. Kane,Harry Kane,25,7/28/1993,188,89,England,Tottenham Hotspur,...,65+3,66+3,66+3,66+3,65+3,62+3,60+3,60+3,60+3,62+3

In [11]:
eng[(eng.nationality == "England") & (eng.overall>85) & (eng.team_position == 'LW')] #best english left winger

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
26,202652,https://sofifa.com/player/202652/raheem-sterli...,R. Sterling,Raheem Sterling,24,12/8/1994,170,69,England,Manchester City,...,68+3,62+3,62+3,62+3,68+3,64+3,51+3,51+3,51+3,64+3

In [23]:
eng[(eng.nationality == "England") & (eng.overall>80) & (eng.team_position == 'RM')] #best english right winger

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
108,233049,https://sofifa.com/player/233049/jadon-sancho/...,J. Sancho,Jadon Sancho,19,3/25/2000,180,76,England,Borussia Dortmund,...,64+2,58+2,58+2,58+2,64+2,59+2,47+2,47+2,47+2,59+2

In [25]:
eng[(eng.nationality == "England") & (eng.overall>82) & (eng.team_position == 'CAM')]  #best england attacking midfielder

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
113,211117,https://sofifa.com/player/211117/dele-alli/20/...,D. Alli,Bamidele Alli,23,4/11/1996,188,80,England,Tottenham Hotspur,...,76+3,78+3,78+3,78+3,76+3,75+3,74+3,74+3,74+3,75+3

In [32]:
eng[(eng.nationality == "England") & (eng.overall>75) & (eng.team_position == 'CDM')] #best english defensive midfielder

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
755,234378,https://sofifa.com/player/234378/declan-rice/2...,D. Rice,Declan Rice,20,1/14/1999,185,80,England,West Ham United,...,70+2,76+2,76+2,76+2,70+2,71+2,76+2,76+2,76+2,71+2

In [38]:
eng[(eng.nationality == "England") & (eng.overall>75) & (eng.team_position == 'RCM') & (eng.player_positions == 'CM')] #best english Right midfielder/Central midfielder

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
1192,189280,https://sofifa.com/player/189280/ashley-westwo...,A. Westwood,Ashley Westwood,29,4/1/1990,174,73,England,Burnley,...,75+2,77+2,77+2,77+2,75+2,74+2,73+2,73+2,73+2,74+2

In [42]:
eng[(eng.nationality == "England") & (eng.overall>80) & (eng.team_position == 'LCB')] #best left center back

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
280,203263,https://sofifa.com/player/203263/harry-maguire...,H. Maguire,Harry Maguire,26,3/5/1993,194,100,England,Manchester United,...,70+2,78+2,78+2,78+2,70+2,72+2,81+2,81+2,81+2,72+2

In [43]:
eng[(eng.nationality == "England") & (eng.overall>80) & (eng.team_position == 'RCB')] #best right center back

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
172,203574,https://sofifa.com/player/203574/john-stones/2...,J. Stones,John Stones,25,5/28/1994,188,70,England,Manchester City,...,77+2,80+2,80+2,80+2,77+2,78+2,81+2,81+2,81+2,78+2

In [44]:
eng[(eng.nationality == "England") & (eng.overall>80) & (eng.team_position == 'LB')] #best left back

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
347,205988,https://sofifa.com/player/205988/luke-shaw/20/...,L. Shaw,Luke Shaw,23,7/12/1995,181,75,England,Manchester United,...,80+2,78+2,78+2,78+2,80+2,80+2,79+2,79+2,79+2,80+2

In [48]:
eng[(eng.nationality == "England") & (eng.overall>83) & (eng.team_position == 'RB')] #best right back

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
148,188377,https://sofifa.com/player/188377/kyle-walker/2...,K. Walker,Kyle Walker,29,5/28/1990,183,70,England,Manchester City,...,82+3,79+3,79+3,79+3,82+3,82+3,80+3,80+3,80+3,82+3

In [49]:
eng[(eng.nationality == "England") & (eng.overall>80) & (eng.team_position == 'GK')] #best english goalkeeper

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
181,204935,https://sofifa.com/player/204935/jordan-pickfo...,J. Pickford,Jordan Pickford,25,3/7/1994,185,77,England,Everton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#your best english squad is- 
#gk - Pickford
#lb - shaw
#rb - walker
#lcb - maguire
#rcb = stones
#rcm/cm - henderson
#cdm - rice
#cam - alli
#rw - sterling
#lw - sancho
#st - kane